.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 0.36em;

    .error {
        color: #E91E63;
        font-size: 0.6em;
        font-weight: 600;
        margin-bottom: 0.36em;
    }

    &_error{
        border-color: #E91E63;
    }
}  

.label {
    user-select: none;
    font-size: 0.8em;
    font-weight: 600;
}

.input{
    width: 100%;
    border: 1px solid #D3D3D3;
    border-radius: 8px;

    &:focus{
        outline: none;
        border-color: #888282;
    }    
}